<% unless request.referrer == login_url %>
  <% session[:return_to] = request.referrer %>
<% end %>

<div class="span8" id="signup">
<h1>Create New Account</h1>
<br/>
<%= simple_form_for @user do |f| %>
  <%= f.simple_fields_for :customer do |c| %>
    <%= c.input :full_name %>
    <%= c.input :email %>
  <% end %>
  <%= f.input :display_name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, required: :true %>
  <%= f.button :submit %>
<% end %>



</div>
